html{
  overflow-x: hidden;
}


// keyframes 
@keyframes showItem {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes itemDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.0);
    opacity: 0;
  } 
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
// end keyframes 

// body
body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-x: hidden;

  // header
  #header {
    width: 100%;

    .hamburger-line {
    margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
    display: block;
    height: 2px;
    width: 30px;
    opacity: 1;
    background-color: rgba(19, 78, 74, 1);
    }
    
    .hamburger-active > span:nth-child(1) {
    transform: rotate(45deg);
    }
    
    .hamburger-active > span:nth-child(2) {
    transform: scaleX(0);
    transform: scaleY(0);
    }
    
    .hamburger-active > span:nth-child(3) {
    transform: rotate(-45deg);
    }
  }

  // hero
  #hero {
    background-image: url('../Img/bgAtas.png') !important;
    background-repeat: no-repeat;
    background-size:cover;

    #hero_img {
      animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
    }
  }

  // about
  #about {
    background-image: url('../Img/bgTengah.png');
    background-repeat: no-repeat;
    background-size: cover;

    #about_img{
      animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
    }
  }

  
  // services
  #services{
      background-image: url('../Img/bgTengah.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  // komunitas
  #komunitas{
      background-image: url('../Img/bgTengah.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  // sertifikat
  #sertifikat{
    background-image: url('../Img/bgTengah.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  // portfolio 
  #portfolio{
    background-image: url('../Img/bgTengah.png');
    background-repeat: no-repeat;
    background-size: cover;

    .kategori1 .checkbox:checked ~ .name {
      color: #14b8a6;
    }
    
    .kategori2 .checkbox:checked ~ .name {
      color: #14b8a6;
    }
    
    .name:hover {
      color: #83cec5;
    }
    
    
    .portfolio-item-hide {
      display: none;
      animation: itemDown 0.5s ease;
    }
    
    .portfolio-item-show {
      display: block;
      animation: showItem 0.5s ease;
    }

  }

  // contact 
  #contact{
    background-image: url('../Img/bgBawah.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #contact_img{
    animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
  }
}

// add class to javascript
.navbar-fixed {
  position: fixed;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  backdrop-filter: blur(8px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

// .a-new-group {
//   background-color: #11e9d0 !important;
//   border-radius: 20px;
// }